<%- include('./header.ejs') %>

    <section class="cmspage mtb-40">
        <div class="container">
          <h1>About</h1>
          <div class="page-desc">
            <p class="text-justify">This blog website provides you the latest updates of science and technology.</p>
            <p class="text-justify">All phenomena are the result of science and technology, whether smartphones, fans, tyres, automobiles, fabric, paper, toothbrushes, power, microwave, automobiles, radio, television, laptop computers, etc.</p>
            <p class="text-justify">Numerous scientific and technological contributions have assisted us in saving time and money. Technology has provided us with microwaves and steam cookers to help us cook and steam our food. Different items and equipment, such as computers, travel modes, washing machines, and so on, save us time and resources.</p>
            </div>
        </div>
    </section>

<%- include('./footer.ejs') %>