<%- include('./header.ejs') %>

    <section class="cmspage mtb-40">
        <div class="container">
          <h1>About</h1>
          <div class="page-desc">
            <p>Scientists have recently estimated that there are approximately 8.7 million species on Earth. They believe that 1-2 million of those species are animals. And what do we know about all those species? Not much! The same study estimates that 86% of all land species and 91% of all sea species have not yet been discovered or described!

              Sticking to the species we do know about, let's look at some amazing numbers for particular groups of animals. Scientists believe there are over seven billion humans in the world today. That's a staggering number, but there are more chickens (over 18 billion) than humans. At least we humans do outnumber cattle (1.4 billion) and sheep (1.1 billion).
              
              </p>
            <p>Those numbers pale in comparison to the insect world, though. For example, scientists estimate there are over 10,000 trillion ants alive at any one time. Based upon those numbers, some scientists estimate the total insect population at 10 quintillion, which is 10 billion billion! That figure has led at least one expert to estimate the total animal population on Earth to be about 20 quintillion, or 20 billion billion!</p>
          </div>
        </div>
    </section>

<%- include('./footer.ejs') %>